- defaults:
    link:
      relink: true

- clean: ['~']

- create:
    - ~/.config/alacritty

- link:
    ~/.tmux.conf: ansible/playbooks/roles/tmux/files/.tmux.conf 
    ~/.config/nvim: .config/nvim
    ~/.config/alacritty/alacritty.yml: .config/alacritty/alacritty.yml
    ~/.config/fish/config.fish: ansible/playbooks/roles/fish/files/config.fish
    #~/AppData/Roaming/Code/User/settings.json: .config/vscode/settings.json
    #~/AppData/Roaming/Code/User/keybindings.json: .config/vscode/keybindings.json


- shell:
  - [git submodule update --init --recursive, Installing submodules]
  - [apt install ruby -y]
