[user]
  name = Koen Verburg
  email = creativekoen@gmail.com

[core]
  editor = vim

[github]
  name = Koen Verburg
  email = creativekoen@gmail.com

[includeIf "gitdir:~/code/2023/"]
  path = ~/code/bitbucket.gitconfig

[includeIf "gitdir:~/code/2024/"]
  path = ~/code/bitbucket.gitconfig

[includeIf "gitdir:~/code/2025/"]
  path = ~/code/bitbucket.gitconfig

[push]
  default = current

[pull]
  default = current

[diff]
  renameLimit = 999999

[interactive]
  diffFilter = delta --color-only --features=interactive

[merge "mergiraf"]
  name = mergiraf
  driver = mergiraf merge --git %O %A %B -s %S -x %X -y %Y -p %P -l %L

[alias]
  cedit = commit --amend
  co = checkout
  com = checkout main
  cod = checkout develop
  cob = branch -b

  # pretty log
  plog = log --color --graph --pretty=format:'%Cred%h%Creset %Cgreen(%cr) %C(bold blue)<%an>%Creset -%C(yellow)%d%Creset %s' --abbrev-commit --

  refresh = !sh -c "git checkout main;git pull;git checkout -"
  lint = !sh -c "git show --pretty="" --name-only HEAD --diff-filter=d | grep '.ts\\|.js\\|.tsx|\\.jsx' | xargs npx eslint_d"
  changedfiles = !git --no-pager diff main...HEAD --name-only --diff-filter=d '*.js' '*.jsx' '*.ts' '*.tsx'
  changedtests = !git --no-pager diff main...HEAD --name-only --diff-filter=d '*.spec.js' '*.spec.jsx' '*.spec.ts' '*.spec.tsx'

  # Difftastic aliases, so `git dlog` is `git log` with difftastic and so on.
  dlog = -c diff.external=difft log --ext-diff
  dshow = -c diff.external=difft show --ext-diff
  ddiff = -c diff.external=difft diff

[init]
	defaultBranch = main

[safe]
	directory = /Users/verbukoe/code/github/dotfiles/dotbot
