[user]
  name = Koen Verburg
  email = creativekoen@gmail.com

[core]
  editor = vim

[github]
  name = Koen Verburg
  email = creativekoen@gmail.com

[includeIf "gitdir:~/code/bitbucket/"]
  path = ~/code/bitbucket/.gitconfig

[includeIf "gitdir:~/code/worktrees/"]
  path = ~/code/bitbucket/.gitconfig

[includeIf "gitdir:~/code/worktrees/checkout-bare"]
  path = ~/code/bitbucket/.gitconfig

[push]
  default = current

[pull]
  default = current

[pager]
  diff = delta
  log = delta
  reflog = delta
  show = delta

[interactive]
  diffFilter = delta --color-only --features=interactive

[delta]
  features = decorations

[delta "interactive"]
  keep-plus-minus-markers = false

[delta "decorations"]
  commit-decoration-style = blue ol
  commit-style = raw
  file-style = omit
  hunk-header-decoration-style = blue box
  hunk-header-file-style = red
  hunk-header-line-number-style = "#067a00"
  hunk-header-style = file line-number syntax

[alias]
  cedit = commit --amend
  co = checkout
  com = checkout main
  cod = checkout develop
  cob = branch -b

  # pretty log
  plog = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --

  refresh = !sh -c "git checkout main;git pull;git checkout -"
  lint = !sh -c "git show --pretty="" --name-only HEAD --diff-filter=d | grep '.ts\\|.js\\|.tsx|\\.jsx' | xargs npx eslint_d"
  changedfiles = !git --no-pager diff main...HEAD --name-only --diff-filter=d '*.js' '*.jsx' '*.ts' '*.tsx'
  changedtests = !git --no-pager diff main...HEAD --name-only --diff-filter=d '*.spec.js' '*.spec.jsx' '*.spec.ts' '*.spec.tsx'

[init]
	defaultBranch = main
